@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@700;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* This is mostly to prevent a white flash before stitches has been initialized */
    background-color: #0D0D0D;
    margin: 0;
    padding: 0;
}